<html>
    <head>
        <title>AskA</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/vote.css">
        <script>src="js/jquery-3.2.1.slim.min.js"</script>
        <script>src="js/popper.min.js"</script>
        <script>src="js/bootstrap.min.js"</script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="js/jQCloud.js"></script>
        <script type="text/javascript" src="js/tagData.js"></script>
        <script type="text/javascript" src="js/jquery.upvote.js"></script>
        <script type="text/javascript" src="js/vote.js"></script>
      </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
                <div class="container">
                    <a class="icon" href="index.html">AskA</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                  <form class="col-lg-5 ml-2 col-xl-6" id="searchForm"> 
                    <input class="form-control" type="text" placeholder="Search">
                  </form>
                  <form class="ml-1" action="ask.html" id="askBtn">
                    <button class="btn btn-primary my-2 my-sm-0 ml-4" type="submit">Ask!</button>
                  </form> 
                  <div>
                    {% block userblock %}
                      <div class="card float-right flex-row userCard">
                        <div class="row userProfile">
                          <img class="ml-4 img-circle img-fluid usericon" src="img/icon128.svg"> 
                          <h5 class="mt-2 card-title ml-1 text-center">Username</h5>
                          <a class="ml-3 mt-2" href="settings.html">Settings</a>
                          <a class="ml-3 mt-2" href="#">Log out</a>
                        </div>
                      </div>
                    {% endblock %}
                    
                    {% block guestblock %}
                    <!-- <div class="buttonGroup ml-5 mb-2 ">
                      <a class="btn btn-primary nav-button" href="login.html">Log in</a>
                      <a class="btn btn-primary ml-3 nav-button" href="register.html">Sign up</a>
                    </div> -->
                    {% endblock %}
                  </div>
                </div>
              </nav>
          </header>


          <div class="container">
              <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8">

                </div>
        
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4 right-column">       
                  
                  <!-- Tags Widget -->
                  <div class="card my-4">
                    <h5 class="card-header">Popular Tags</h5>
                    <div class="card-body">
                      <!-- <div class="row"> -->
                        <div class="col-xl-12 col-lg-10 col-md-10" id="tagCloud">
                            <!-- <div class="" id="tagCloud"></div> -->

                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                
                  {% block topusers %}
                  <div class="card my-4">
                    <h5 class="card-header">Top Members</h5>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-6">
                          <ul class="list-unstyled mb-0">
                            <li>
                              <a href="#">Asuka</a>
                            </li>
                            <li>
                              <a href="#">Ayanami</a>
                            </li>
                            <li>
                              <a href="#">Madoka</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-6">
                          <ul class="list-unstyled mb-0">
                            <li>
                              <a href="#">Kanade</a>
                            </li>
                            <li>
                              <a href="#">Kyon</a>
                            </li>
                            <li>
                              <a href="#">Yamada</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endblock %}


                  <!-- Side Widget 
                  <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                      You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                  </div>
                      -->
                </div>
        
              </div>
              <!-- /.row -->
        
            </div>
            <!-- /.container -->

            </br>
        </br> </br>
        
        
        <div id="templates" class="hidden">
          <div class="upvote">
              <a class="upvote" title="Wow! Thumb up!"></a>
              <span class="count" title="Total number of votes"></span>
              <a class="downvote" title="Useless. Completely and undoubtedly."></a>
              <a class="star" title="Mark as favorite. (Click again to undo)"></a>
          </div>
      </div>      
    </body>
</html>